
#insert_form{
    margin-top: 100px;
}

html, body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f3f3f4;
    color: #676a6c;
    height: 100%;
}

.box {
    border: 1px red dotted;
}

#side-menu {
  
    background-color: #2f4050;
    padding: 0px;
}

#side-menu h1 {
    color: #9fb1c2;
    text-align: center;
    margin: 10px 0px;
    font-size: 20px;
}

#side-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#side-menu a {
    padding: 12px 20px;
    text-decoration: none;
    color: #9fb1c2;
    font-weight: bold;
    font-size: 13px;
    display: block;
}

#side-menu .glyphicon {
    margin-right: 6px; 
}

#side-menu a:hover {
    background-color: #293846;
    color: white;
    display: block;
}

#side-menu .active a {
    color: white;
    background-color: #293846;
}

.display-table {
    display: table;
    padding: 0px;
    height: 100%;
    width: 100%;
}
.display-table-row {
    display: table-row;
    height: 100%;
}
.display-table-cell {
    display: table-cell;
    float: none;
    height: 100%;
}
.valign-top {
    vertical-align: top;
}

#nav-header {
    background-color: #fff;
    border-bottom: 1px solid #e7eaec;
}

#nav-header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #676a6c;
}
#nav-header ul li {
    float: left;
    margin-left: 15px;
    padding: 17px 0;
}




#nav-header ul a {
    text-decoration: none;
    
}

#nav-header .logout {
    color: #676a6c;
}


#nav-header .logout:hover {
    color: #676a6c;
}

#nav-header #welcome {
    margin-right: 20px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    font-size: 12px;
    color: #676a6c;
}

.navbar-default {
	background-color: #fff;
}

.navbar-default .navbar-toggle {
	border-color: #1ab394;
	background-color: #1ab394;
}

.navbar-default .icon-bar {
	border: 1px solid white;
}

.navbar-default .navbar-toggle:hover {
	
	background-color: #1ab394;
}

.navbar-default .navbar-toggle:focus {
	
	background-color: #1ab394;
}

#content {
    margin: 20px 0px 50px 0px;
    background-color: #fff;
    border-top: 4px #e7eaec solid;
}

#content header {
    border-bottom: 1px solid #f3f3f4;
    padding: 10px 0px;
}

.page_title {
    font-size: 14px;
    font-weight: bold;
    padding: 0px 0px 0px 20px;
    margin: 0px;
}

.content-inner {
    padding: 20px;
}

.form-wrapper {
    background-color: #eee;
    padding: 20px;
}



.preview
{
    padding: 10px;
    position: relative;
}

.preview i
{
    color: white;
    font-size: 35px;
    transform: translate(50px,130px);
}

.preview-img
{
    border-radius: 100%;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.7);
}

.browse-button
{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: absolute; /* Tweak the position property if the element seems to be unfit */
    top: 10px;
    left: 10px;
    background: linear-gradient(180deg, transparent, black);
    opacity: 0;
    transition: 0.3s ease;
}

.browse-button:hover
{
    opacity: 1;
}

.browse-input
{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    transform: translate(-1px,-26px);
    opacity: 0;
}

.error {
    padding: 20px;
}

#shop_table, #prod_table {
    margin-top: 20px;
}


